fastapi[standard]
uvicorn
Jinja2
youtube-transcript-api
requests
slowapi
pydantic
limits
yt-dlp
ffmpeg-python
sqlmodel
# Aqui, adiciono o BD responsável por fusos-horários.
# Adicionei ele para ser capaz de salvar um Card segundo o horário de Brasil - São Paulo.
# Sem ele, a biblioteca ZoneInfo pode acabar retornando um erro.
tzdata